@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F4F4FA;
    color: #232330; /* Задаём дефолтный цвет текста */
}

.tight-spacing h2 {
    margin-bottom: -8px;
    line-height: 1.1; /* Уменьшаем высоту строки */
}

[x-cloak] {
    display: none;
}
